---
import Layout from "@layouts/Body.astro";
import siteData from "@data/site.json";
import { getCollection } from "astro:content";
const blogEntries = await getCollection("about");
---

<Layout title={siteData.tldr}>
  <div class="about"></div>
</Layout>

<style></style>
