.env
.env.production
.DS_Store
\n.astro
.astro
.cache/
.cache/**
.cache/image/**
_astro
dist/
.output/
.cache
.workinprogress

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*