.env
.env.production
.DS_Store
\n.astro
# .astro cos it's useful
.cache/**
.cache/image/**

## Github Versioning '_astro' dir to speed up the Netlify builds? Its small
#_astro

dist/
.output/
.cache
.cache/image
.cache/image/**
.workinprogress

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*