---
import Layout from "@layouts/Index.astro";
import siteData from "@data/site.json";
import { getCollection } from "astro:content";
const blogEntries = await getCollection("health");
---

<Layout title={siteData.tldr}>
  <div class="ul health">
    {
      blogEntries.map((blogPostEntry) => (
        <div class="li">
          <a href={`/health/${blogPostEntry.slug}`}>
            {blogPostEntry.data.title}
          </a>
        </div>
      ))
    }
  </div>
</Layout>

<style></style>
