---
import { CollectionEntry, getCollection } from "astro:content";
import Article from "@layouts/Article.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const servicesArticles = await getCollection("services", ({ data }) => {
    return !data.draft && data.pubDate < new Date();
  });
  return servicesArticles.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
interface Props {
  post: CollectionEntry<"services">;
}

// 2. When it's time to render, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await post.render();

//add bottom listing of THIS category

const articles = await getCollection("services", ({ data }) => {
  return !data.draft && data.pubDate < new Date();
});
---

<Article cssBodyClass="services" {...post.data}>
  <Content />
  <details class="services" open>
    <summary class="h3 uppercase">+ services</summary>
    <div class="">
      {
        articles.map((post) => (
          <div class="uppercase">
            <a href={`/services/${post.slug}`}>{post.data.title}</a>
          </div>
        ))
      }
    </div>
  </details>
</Article>

<style lang="scss">
  details {
    margin: 3rem;
    padding: 3rem;
    border-radius: 3vw;
    border: 10px solid hsla(0, 0%, 100%, 0.033);
    border-top: 0 none;
    border-bottom: 0 none;
    //background-color: hsla(0, 0%, 100%, 0.025);
  }
</style>
