---
import Layout from "@layouts/Index.astro";
import siteData from "@data/site.json";
import { getCollection } from "astro:content";
const blogEntries = await getCollection("services");
---

<Layout title={siteData.tldr}>
  <ul>
    {
      blogEntries.map((blogPostEntry) => (
        <li>
          <a href={`/services/${blogPostEntry.slug}`}>
            {blogPostEntry.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>

<style></style>
