---
import Layout from "@layouts/Index.astro";
import siteData from "@data/site.json";
import { getCollection } from "astro:content";
const posts = await getCollection("know");
---

<Layout title={siteData.tldr}>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/know/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
