---
import Layout from "../layouts/Base.astro";
import siteData from "../data/site.json";
import { getCollection } from "astro:content";
const blogEntries = await getCollection("health");
---

<Layout title={siteData.tldr}>
  <ul>
    {
      blogEntries.map((blogPostEntry) => (
        <li>
          <a href={`/health/${blogPostEntry.slug}`}>
            {blogPostEntry.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>

<style></style>
