@use "sass:map";
@use "../variables";

@if (variables.$enable-class-container and variables.$enable-classes) {
  /**
 * Container
 */

  .container,
  .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--spacing);
    padding-left: var(--spacing);
  }

  .container {
    @if map.get(variables.$breakpoints, "sm") {
      @media (min-width: map.get(variables.$breakpoints, "sm")) {
        max-width: map.get(variables.$viewports, "sm");
        padding-right: 0;
        padding-left: 0;
      }
    }

    @if map.get(variables.$breakpoints, "md") {
      @media (min-width: map.get(variables.$breakpoints, "md")) {
        max-width: map.get(variables.$viewports, "md");
      }
    }

    @if map.get(variables.$breakpoints, "lg") {
      @media (min-width: map.get(variables.$breakpoints, "lg")) {
        max-width: map.get(variables.$viewports, "lg");
      }
    }

    @if map.get(variables.$breakpoints, "xl") {
      @media (min-width: map.get(variables.$breakpoints, "xl")) {
        max-width: map.get(variables.$viewports, "xl");
      }
    }
  }
}
