---
const props = Astro.props;

export interface Props {
  title: string;
  subtitle: string;
  content: string;
  href: string;
}

const { href, title, subtitle } = Astro.props;
---

<Card {...props} class="">
  <li class="link-card">
    <a href={href}>
      <h2>
        {title}
      </h2>
      <h3>
        {subtitle}
      </h3>
      <p>
        <slot />
      </p>
    </a>
  </li>
  <style></style>
</Card>
