---
---

<div class="qr_box centerflex">
  <svg class="footer_icon qr">
    <use xlink:href="#icn--qr"></use>
  </svg>
</div>
<style>
  .qr_box {
    width: 100%;
    padding: var(--space) !important;
  }

  .qr {
    width: 150px;
    height: 150px;
    margin-top: var(--small_small);
    margin-right: 0;
    fill: transparent;
    margin-left: -6px;
  }
</style>
