---
export interface Props {
  pubDate: string;
}
const { pubDate } = Astro.props.frontmatter || Astro.props;
console.log(pubDate);
---

<span id="dateCurated"></span>

<script is:inline>
  const d = { pubDate };
  let text = d.toLocaleDateString("en-us", {
    year: "numeric",
    month: "short",
    day: "numeric",
  });
  document.getElementById("dateCurated").innerHTML = text;
</script>

<style>
  span#dateCurated {
    white-space: nowrap;
  }
</style>
