---
// const { date } = Astro.props.frontmatter || Astro.props;
// //const { dateString } = date.toISOString();

// const { dateString } = new Date().toISOString();
---

<span id="dateCurated"></span>

<script>
  const d = new Date();
  let text = d.toLocaleDateString("en-us", {
    year: "numeric",
    month: "short",
    day: "numeric",
  });
  document.getElementById("dateCurated").innerHTML = text;
</script>

<style>
  span#dateCurated {
    white-space: nowrap;
  }
</style>
