---
export interface Props {
  pubDate: string;
}
const { pubDate } = Astro.props.frontmatter || Astro.props;
// //const { dateString } = date.toISOString();

// const { dateString } = new Date().toISOString();

// const cssClass = "footer ";
---

<span id="dateCurated"></span>

<script>
  const d = { pubDate };
  let text = d.toLocaleDateString("en-us", {
    year: "numeric",
    month: "short",
    day: "numeric",
  });
  document.getElementById("dateCurated").innerHTML = text;
</script>

<style>
  span#dateCurated {
    white-space: nowrap;
  }
</style>
