---
---

<div class="code_wrap">
  <code>
    🥦, 🌶️ , 🍍, 🌵, 🍀, 💚, 🧑‍🎤, 🏄‍♂️, 🐸, 🦜, 🦚, 🐊 ,🐢,🦎, 🐍, 🐲 ,🐉, 🦖, 🦆,
    🐛, 🪲, 🫑, 🥒, 🥕, 🍅, 🍒, 🍄, 🧄, 🧅, 🥑, 🍆, 🥥, 🥭, 🫒, 🎋, 🥎, 🪀, 🧩,
    📚 , 🪛, 🧪, 🧼, 🛁 , 🧷, 🧹, 🪠 , 🗜️ , 🔗, 🪝, 🧲, 🪚, 🔧,🔨, ⚖️, ⛓️, 🔗,
    🖇️, 📎, 📌, 🖋️, ✒️, 🖋️, 🔎 , 🔍, 📟,♻️, ✅, ✳️, ❎ , ❇️, 🈯, 🟢, 🇧🇷,🇨🇨 , 🇨🇽,
    🇩🇲, 🇪🇷, 🇬🇦, 🇬🇫, 🇯🇲, 🇳🇫, 🇳🇬, 🇸🇦, 🇵🇰, 🇸🇱, 🇸🇲, 🇿🇲, 🇹🇿, 🇸🇦, 🇸🇧, 🇹🇲, 🇺🇿, 🏴󠁧󠁢󠁳󠁣󠁴󠁿, 🏴󠁧󠁢󠁷󠁬󠁳󠁿,
    🇿🇦, 🇻🇺, 🌿, 🌱, 🪴, 🌲, 🌳, 🌴, 🌵, 🌾 🪷",
  </code>
</div>

<style lang="scss">
  .code_wrap {
    background-color: white !important;
    position: relative;
    code {
      max-width: 80%;
      font-size: 200%;
      position: absolute;
      top: 0;
      left: 10%;
      user-select: none;
    }
  }
</style>
