---
import LogoText from "../components/LogoText.astro";
---

<header>
  <div class="container header_block">
    <LogoText title="MAGICGREEN" />
  </div>
</header>

<style>
  header {
    position: relative;
    top: -7rem;
  }

  h2 {
    top: -2rem;
  }
</style>
