---
import LogoText from "../components/LogoText.astro";
---

<header class="container">
  <div class="header_block">
    <LogoText />
  </div>
</header>

<style>
  .hide {
    display: none;
  }
  .close,
  .open {
    stroke: var(--primary);
    width: 48px;
    height: 48px;
  }
</style>
