---
let msg = ["GROWING", "PLEASE WAIT...", "BREATHE IN", "BREAHTE OUT"];
---

<a class="growing loading centerflex" href="#" aria-busy="true">
  GROWING, PLEASE WAIT...
</a>

<style lang="scss">
  .growing {
    padding-top: 20vw;
    padding-bottom: 20vw;
  }
  strong {
    font-size: 120%;
  }
</style>
