---
let msg = ["GROWING", "PLEASE WAIT...-", "BREATHE IN", "BREAHTE OUT"];
---

<a class="r-5deg growing loading centerflex" href="#" aria-busy="true">
  {msg}
</a>

<style lang="scss">
  .growing {
    padding-top: 20vw;
    padding-bottom: 20vw;
  }
  strong {
    font-size: 120%;
  }
</style>
