---
import Logo from "@svgs/magicgreen_text_logo.svg";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div>
  <a href="/" title="home">
    <Logo />
  </a>

  <h1 class="hide">{title}</h1>
</div>

<style lang="scss">
  svg.logo {
    display: block;
    width: auto;
  }
</style>
