---
import navigation from "@data/navigation.json";
const sections = navigation.sections;

import "@styles/pico.slim.scss";
---

<nav class="nav_top" role="menu">
  {
    sections.map((section) => (
      <a
        class={section.color_name}
        href={section.url}
        title={section.description}
        role="menuitem"
      >
        <div class="nav_item vertical" />
        {section.label}
      </a>
    ))
  }
</nav>
<style lang="scss">
  nav {
    min-height: 50vw;
    padding-bottom: 1rem;
  }
  .nav_top {
    background-color: #7ed6ff;
    // position: fixed;
    // width: 100%;
    // min-width: 100vw;
    // min-height: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0 !important;
    margin: 0 !important;

    @media (min-width: 768px) {
      padding-left: 10ch;
      padding-right: 10ch;
      padding: 1ch 0 15ch;
    }

    a {
      display: flex;
      align-items: center;
      color: black !important;
      font-weight: 500;
      @media (min-width: 768px) {
        font-weight: 100;
      }
    }
  }
  .nav_item {
    display: flex;
    align-items: center;
    justify-content: end;
    color: black !important;
    font-weight: 300;
    min-height: 42px;
    text-transform: uppercase;
    font-size: clamp(1rem, 6vw, 15vh) !important;
    font-weight: 200;
    margin: 0 !important;
    &:hover {
      font-weight: 500 !important;
    }
    @media (min-width: 640px) {
      font-weight: 100;
    }
  }
</style>
