---
import navigation from "../data/navigation.json";
const sections = navigation.sections;

import "../scss/pico.scss";
---

<div class="menu_toggle hide" id="menu_toggle">
  <svg class="open">
    <use xlink:href="#icn--menu"></use>
  </svg>

  <svg class="close">
    <use xlink:href="#icn--x"></use>
  </svg>
</div>

<nav class="menu" role="menu">
  {
    sections.map((section) => (
      <a
        class="menu_item"
        role="menuitem"
        href={section.url}
        title={section.description}
      >
        {section.label}
      </a>
    ))
  }
</nav>
<style lang="scss">
  .menu {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  .menu_item {
    min-height: 42px;
    text-transform: uppercase;
  }
</style>
