---
import navigation from "@data/navigation.json";
const sections = navigation.sections;

import "@styles/pico.slim.scss";
---

<nav class="nav_top" role="menu">
  {
    sections.map((section) => (
      <a
        class={section.color_name}
        href={section.url}
        title={section.description}
        role="menuitem"
      >
        <h2 class="nav_item ">{section.label}</h2>
      </a>
    ))
  }
</nav>
<style lang="scss">
  nav {
    min-height: 50vw;
    padding-bottom: 1rem;
  }
  .nav_top {
    background-color: #7ed6ff;

    a {
      display: flex;
      align-items: center;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  .nav_item {
    // inside the button
    font-weight: 900 !important;
    min-height: 42px;
    text-transform: uppercase;
    font-size: clamp(1rem, 6vw, 15vh) !important;
    font-weight: 900;
    margin: 0 !important;
    &:hover {
      font-weight: 500 !important;
    }
  }
</style>
