---
---

<div class="slogan r5deg">
  <h2 class="centered compacted minimal_padding speech_bubble">
    Sustainable, environment friendly examples present future.
  </h2>
</div>
<style lang="scss">
  .slogan {
    padding-top: var(--space);
    .compacted {
      user-select: none;
    }
  }
</style>
