---
---

<div class="slogan r5deg">
  <h2 class="centered compacted green">
    Sustainable, environment friendly examples present future.
  </h2>
</div>
<style lang="scss">
  .slogan {
    padding-top: calc(var(--space) * 2);
  }
  .compacted {
    user-select: none;
  }
</style>
