---
---

<svg
  version="1.1"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  style="display: none;"
>


  <symbol
  id="icn--whatsapp"
  x="0"
  y="0"
	viewBox="-487 513 24 24"
	fill="none"
	stroke="currentColor"
	stroke-width="1"
	stroke-linecap="round"
  stroke-linejoin="round">
    <title>whatsapp</title>
    <path d="M-475 514c2.9 0 5.7 1.1 7.8 3.2 2.1 2.1 3.2 4.8 3.2 7.8 0 6.1-4.9 11-11 11-2 0-3.9-.5-5.6-1.5l-.4-.2-4.2 1.1 1.1-4.1-.3-.4c-1.1-1.7-1.7-3.8-1.7-5.8.1-6.2 5-11.1 11.1-11.1"/>
    <path d="M-479.7 518.9c-.2 0-.6.1-.9.4-.3.3-1.2 1.1-1.2 2.8 0 1.6 1.2 3.2 1.3 3.4.2.2 2.3 3.6 5.7 5 .8.4 1.4.6 1.9.7.8.3 1.5.2 2.1.1.6-.1 1.9-.8 2.2-1.6.3-.8.3-1.4.2-1.6-.1-.1-.3-.2-.6-.4s-2-1-2.3-1.1c-.3-.1-.5-.2-.7.2-.2.3-.9 1.1-1 1.3-.2.2-.4.3-.7.1-.3-.2-1.4-.5-2.7-1.6-1-.9-1.6-2-1.8-2.3-.2-.3 0-.5.1-.7.1-.1.4-.4.5-.6.2-.2.2-.3.3-.5.1-.2.1-.4 0-.6-.1-.1-.7-1.8-1-2.5-.3-.6-.5-.6-.7-.6-.2.1-.5.1-.7.1z"/>
  </symbol>

    <symbol
  id="icn--localphone"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="1"
  stroke-linecap="round"
  stroke-linejoin="round">
    <title>localphone</title>
    <path shape-rendering="geometricPrecision" d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"/>
  </symbol>

  <symbol
  id="icn--location"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="1"
  stroke-linecap="round"
  stroke-linejoin="round">
    <title>location</title>
    <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
    <circle cx="12" cy="10" r="3"></circle>
  </symbol>


  <symbol viewBox="0 0 27 10" id="icn--read_arrow">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M21.941 0.155L21.319 0.717C21.188 0.837 21.122 0.999 21.122 1.163C21.122 1.306 21.174 1.45 21.278 1.566C21.287 1.576 21.296 1.584 21.306 1.594L23.416 3.63H0.601C0.269 3.63 0 3.896 0 4.229V5.03C0 5.362 0.269 5.63 0.601 5.63H23.429L21.328 7.657C21.089 7.886 21.081 8.266 21.312 8.505C21.318 8.511 21.324 8.516 21.329 8.521L21.936 9.099C22.168 9.321 22.534 9.321 22.765 9.097L26.66 5.343C27.064 4.952 27.064 4.318 26.66 3.928L22.759 0.168C22.644 0.0560002 22.495 0 22.345 0C22.2 0 22.056 0.0510002 21.941 0.155Z"
    ></path>
  </symbol>

  <symbol
    id="icn--photographer"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="1"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <title>photographer</title>
    <path
      d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"
    ></path>
    <circle cx="12" cy="13" r="4"></circle>
  </symbol>

  <symbol
    id="icn--clock"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="1"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <title>clock</title>
    <circle cx="12" cy="12" r="10"></circle>
    <polyline points="12 6 12 12 16 14"></polyline>
  </symbol>

  <symbol
    id="icn--tag"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="1"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <title>tag</title>
    <path
      d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"
    ></path>
    <line x1="7" y1="7" x2="7.01" y2="7"></line>
  </symbol>

  <symbol
    id="icn--facebook"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="1"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <title>facebook</title>
    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
    ></path>
  </symbol>

  <symbol
    id="icn--instagram"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="1"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <title>instagram</title>
    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
  </symbol>

  <symbol
    id="icn--email"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="1"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <title>email</title>
    <path
      shape-rendering="geometricPrecision"
      d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
    ></path>
    <polyline shape-rendering="geometricPrecision" points="22,6 12,13 2,6"
    ></polyline>
  </symbol>

  <symbol
    id="icn--link"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="1"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <title>link</title>
    <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
    ></path>
    <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
    ></path>
  </symbol>

  <symbol
    id="icn--youtube"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="1"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <title>youtube</title>
    <path
      d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"
    ></path>
    <polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon>
  </symbol>

  <symbol
    id="icn--twitter"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="1"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <title>twitter</title>
    <path
      d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"
    ></path>
  </symbol>

  <symbol
    id="icn--menu"
    viewBox="0 0 24 24"
    fill="none"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <title>menu</title>
    <line x1="3" y1="12" x2="21" y2="12"></line>
    <line x1="3" y1="6" x2="21" y2="6"></line>
    <line x1="3" y1="18" x2="21" y2="18"></line>
  </symbol>

  <symbol
    id="icn--x"
    viewBox="0 0 24 24"
    fill="none"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <title>x</title>
    <line x1="18" y1="6" x2="6" y2="18"></line>
    <line x1="6" y1="6" x2="18" y2="18"></line>
  </symbol>

  <symbol id="icn--feed" viewBox="123.31 0 595.28 595.28">
    <title>feed</title>
    <path
      shape-rendering="geometricPrecision"
      d="M420.95 0C256.56 0 123.31 133.26 123.31 297.64s133.26 297.64 297.64 297.64 297.64-133.26 297.64-297.64S585.33 0 420.95 0zM309.33 446.46c-20.55 0-37.21-16.66-37.21-37.21s16.66-37.21 37.21-37.21 37.21 16.66 37.21 37.21-16.66 37.21-37.21 37.21zm102.31 0c0-76.93-62.59-139.52-139.52-139.52v-55.81c107.7 0 195.33 87.62 195.33 195.33h-55.81zm111.62 0c0-67.08-26.12-130.15-73.55-177.58-47.43-47.43-110.5-73.56-177.58-73.56v-55.81c81.99 0 159.07 31.93 217.04 89.9 57.97 57.97 89.9 135.05 89.9 217.04h-55.81z"
    ></path>
  </symbol>

  <symbol id="icn--up" viewBox="123.31 0 595.28 595.28">
    <title>up</title>
    <path
      shape-rendering="geometricPrecision"
      stroke="svg_color"
      stroke-width="12"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-miterlimit="10"
      d="M434.48 446.46V182.64l94.7 74.41v-27.06l-108.23-81.17-108.23 81.17v27.06l94.76-74.41v263.82h27z"
    ></path>
    <path
      d="M718.59 297.64C718.59 133.26 585.33 0 420.95 0S123.31 133.26 123.31 297.64s133.26 297.64 297.64 297.64 297.64-133.26 297.64-297.64zm-568.23 0c0-149.44 121.14-270.58 270.58-270.58S691.53 148.2 691.53 297.64 570.39 568.22 420.95 568.22 150.36 447.08 150.36 297.64z"
    ></path>
  </symbol>

  <symbol id="icn--external_link" viewBox="123.31 0 595.28 595.28">
    <title>external_link</title>
    <path
      shape-rendering="geometricPrecision"
      d="M652.44 529.13H189.45V66.14h231.5V0h-231.5c-36.71 0-66.14 29.76-66.14 66.14v462.99c0 36.38 29.43 66.14 66.14 66.14h462.99c36.38 0 66.14-29.76 66.14-66.14v-231.5h-66.14v231.5zM487.09 0v66.14h118.72L280.72 391.23l46.63 46.63 325.09-325.09V231.5h66.14V0H487.09z"
    ></path>
  </symbol>

  <symbol id="icn--junglestar" viewBox="123.31 0 595.28 595.28">
    <title>junglestar</title>
    <path
      shape-rendering="geometricPrecision"
      d="M622.74 79.02v256.71c0 68.61-18.15 119.06-54.32 151.2-36.16 32.14-84.08 48.66-143.61 49.26-60.86.6-109.68-14.14-146.44-44.35-36.76-30.36-55.06-69.2-55.06-116.82 0-20.98 10.27-31.55 30.66-31.85 21.73-.15 32.59 7.74 32.59 23.81 0 35.27 12.35 62.95 36.91 83.04 24.56 20.09 57.74 30.06 99.41 29.62 43.46-.45 77.09-12.5 100.75-36.31 23.81-23.66 35.72-59.38 35.72-107V34.23C517.97 12.35 470.95 0 420.94 0 256.8 0 123.31 133.49 123.31 297.64c0 164.15 133.49 297.64 297.64 297.64 164.15 0 297.64-133.49 297.64-297.64-.01-86.32-36.91-164.15-95.85-218.62zM196.23 273.68l82-78.13-19.5-110.42 101.35 51.94 101.35-52.24-19.2 110.27 82 78.13-113.25 16.22-50.6 100.45-50.75-100.3-113.4-15.92z"
    ></path>
  </symbol>

  <symbol id="icn--handphone" viewBox="123.31 0 595.28 595.28">
    <title>handphone</title>
    <path
      shape-rendering="geometricPrecision"
      d="M529.18 0H312.71c-44.92 0-81.17 36.26-81.17 81.17V514.1c0 44.92 36.26 81.17 81.17 81.17h216.46c44.92 0 81.17-36.26 81.17-81.17V81.17C610.35 36.26 574.09 0 529.18 0zm-54.12 541.16H366.83V514.1h108.23v27.06zM563 459.99H278.89V81.17H563v378.82z"
    ></path>
  </symbol>

  <symbol id="icn--qr" viewBox="0 0 866.2 866.2">
    <title>qr to https://magicgreen.junglestar.org</title>

    <path class="darken_bg" fill="#000000" d="M0 0h866.2v866.2H0z"></path>
    <path
      class="fill_color"
      d="M525 52.5h-26.2V105H525V78.8h26.2V52.5H525zM315 105h-26.2V78.8h52.4V105h26.2V78.8h26.2V105h-26.2v26.2H420v26.2h26.2v26.2h26.2v-52.4h-26.2V105h26.2V52.5H262.6v78.7h78.6V105H315zm26.2 26.2v26.2h26.2v-26.2h-26.2zm157.6 0v26.2H525v-26.2h-26.2zm-210 26.3h-26.2v26.2h26.2v-26.2zm288.7 26.3v-26.2h26.2V78.8h-52.4V105h26.2v26.2h-26.2v26.2H525v26.2h52.5zm-78.7 0V210H525v-26.2h-26.2zM262.5 210v26.2h26.2V210h-26.2zm78.7 0v-26.2H315v52.4h26.2V210zm131.3 26.2h26.2V210h-26.2v26.2zm105 0h26.2v-52.4h-26.2v52.4zm-26.3 52.6H525V315h52.4v-26.2H630v-26.2h-52.4v-26.2h-26.2V210H525v52.4h26.2v26.4zm210-26.3H735v78.7h26.2V315h26.2v-26.2h26.2v-26.2h-52.4zM157.5 315v-26.2h26.2V315H210v-26.2h26.2V315h26.2v-26.2H315v52.4h26.2v-52.4h26.2v52.4h26.2v-52.4H420v78.6h-26.2v26.2h52.4v-26.2h26.2v-26.2h-26.2v-52.4H525v-26.2h-78.6v-78.8H420v-26.2h-52.4v26.2h26.2V210H420v52.4h-26.2V210h-26.2v26.2h-26.2v26.2H315v-26.2h-26.2v26.2H131.4v26.2H105V315h52.5zm551.3-26.2v-26.2h-26.2v26.2h-26.2V315h26.2v26.2h26.2v-52.4zM157.5 315v26.2h26.2V315h-26.2zm52.5 0v26.2h26.2V315H210zm288.8 26.2v26.2H525V315h-26.2v26.2zm105 0v26.2H630V315h-52.4v26.2h26.2zm-420 0v26.2H210v-26.2h-26.2zm367.4 0v26.2h26.2v-26.2h-26.2zm105 26.3H630v78.7h26.2v52.4h26.2v-26.2h26.2v-26.2h-26.2V420H735v52.4h26.2V420h26.2v52.4h26.2v-131h-26.2v52.4H682.6v-52.4h-26.2v26.1zm52.6 0H735v-26.2h-26.2v26.2zm-630 0H105V315H78.8v-52.4H52.5V420h26.2v-52.5zm26.2 0v26.2h26.2v-26.2H105zm393.8 26.3v-26.2h-26.2v26.2h26.2zm78.7 0h26.2v-26.2h-26.2v26.2zM393.8 420v-26.2h-52.4V420H315v26.2h52.4V420h26.4zM105 472.5h52.4v26.2h-26.2V525H210v-26.2h26.2v-26.2H210v-26.2h52.4v104.8h26.2V525H315v-26.2h52.4v-26.2h-78.6V315h-26.2v26.2h-26.2v26.2H210v26.2h52.4V420H210v-26.2h-26.2v-26.2h-26.2v26.2h-26.2V420H78.8v26.2H105v26.3zm498.8 0H630v-26.2h-26.2v26.2zm105 26.3H735v-26.2h-26.2v26.2zm0 0h-26.2v78.6h-26.2V525H630v-26.2h-26.2V525h-26.2v-26.2h26.2v-26.2h-26.2V420h-78.8v26.2h52.4v105H630v26.2h-52.4V630h-26.2v-26.2H525V630h-52.4v-78.6H525V498.8h-26.2V525h-26.2V420H420v26.2h-52.4v26.2h78.6V525H341.4v26.2h26.2v26.2h26.2V630h-26.2v26.2h-26.2V551.4H315v26.2H210v-26.2h-26.2v26.2h-26.2v-26.2H105V525H78.8v-26.2H105v-26.2H78.8v-26.2H52.5v157.2H262.4V735h26.2v52.4h-26.2v26.2H446.2v-26.2h-52.4V735h52.4v52.4h26.2v-26.2H525v52.4h78.6v-26.2h-52.4V735h-52.4v-52.4h-26.2v26.2H420V551.4h26.2v131h26.2v-26.2h26.2v26.2H525v-26.2h26.2v52.4h26.2V735h26.2v52.4h157.6v-26.2h26.2v26.2h26.2v-131h-52.4v52.4h26.2V735H735v26.2h-26.2V735h-52.4v26.2H630v-52.4h105v-26.2h-26.2v-26.2H735V603.8h52.4v-26.2h-26.2v-26.2H735V525h-26.2v-26.2zM315 656.2v52.4h-26.2V630H315v26.2zm52.5 131.3h-26.2v-26.2h26.2v26.2zm26.3-78.7h-26.2V735h-26.2v-52.4h52.4v26.2zM682.5 630v52.4h-78.7v-78.6h78.6V630zm78.7-105h26.2v-26.2H735V525h26.2zm-525 0H210v26.2h26.2V525zm577.6 26.2V525h-26.2v26.2h26.2zM525 577.5h26.2v-26.2H525v26.2zm-26.2 0v26.2H525v-26.2h-26.2zM630 656.2h26.2V630H630v26.2zM236.2 52.5H52.5v183.8h183.8V52.5zm-27.5 156.2H80.1V80.1h128.6v128.6zM786.2 52.5H630v183.8h183.8V52.5h-27.6zm0 156.2H657.6V80.1h128.6v128.6zM52.5 630v183.8h183.8V630H52.5zm156.2 156.2H80.1V657.6h128.6v128.6zM183.8 105H105v78.8h78.8V105zm577.4 0h-78.8v78.8h78.8V105zM183.8 682.5H105v78.8h78.8v-78.8z"
    ></path>
  </symbol>

  <title>next</title>
  <g shape-rendering="geometricPrecision">
    <!-- <path class="tblack"  d="M0,500c0,276.1,223.9,500,500,500s500-223.9,500-500S776.1,0,500,0S0,223.9,0,500z"/> -->
    <polygon
      points="250,522.6 693.1,522.6 568.1,681.9 613.6,681.9 750,500 613.6,318.1 568.1,318.1 693.1,477.2 250,477.2 	"
    ></polygon>
    <path
      d="M0,500c0,276.1,223.9,500,500,500s500-223.9,500-500S776.1,0,500,0S0,223.9,0,500z M45.5,500C45.5,249,249,45.5,500,45.5
    		S954.5,249,954.5,500S751,954.5,500,954.5S45.5,751,45.5,500z"
    ></path>
  </g>
</svg>

<symbol id="icn--previous" viewBox="0 0 1000 1000">
  <title>previous</title>
  <g shape-rendering="geometricPrecision">
    <!-- <path class="tblack"  d="M500,0C223.875,0,0,223.875,0,500s223.875,500,500,500s500-223.875,500-500S776.125,0,500,0z"/> -->
    <polygon
      points="750,477.25 306.875,477.25 431.875,318.125 386.375,318.125 250,500 386.375,681.875 431.875,681.875
    		306.875,522.625 750,522.625 	"
    ></polygon>
    <path
      d="M500,0C223.875,0,0,223.875,0,500s223.875,500,500,500s500-223.875,500-500S776.125,0,500,0z M500,954.5
    		C249,954.5,45.5,751,45.5,500S249,45.5,500,45.5S954.5,249,954.5,500S751,954.5,500,954.5z"
    ></path>
  </g>
</symbol>

<symbol
  id="icn--smile"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="123.31 0 595.27 595.28"
>
  <title>smile</title>
  <path
    d="M420.65 0C256.35 0 123.3 133.34 123.3 297.64s133.05 297.64 297.35 297.64c164.6 0 297.93-133.35 297.93-297.64S585.24 0 420.65 0zm.3 535.75c-131.56 0-238.12-106.56-238.12-238.1 0-131.57 106.56-238.12 238.1-238.12 131.57 0 238.13 106.55 238.13 238.1 0 131.56-106.56 238.12-238.1 238.12zM525.1 267.87c24.7 0 44.64-19.94 44.64-44.64s-19.94-44.65-44.64-44.65-44.65 19.94-44.65 44.65c0 24.7 19.94 44.64 44.65 44.64zm-208.35 0c24.7 0 44.65-19.94 44.65-44.64s-19.94-44.65-44.65-44.65c-24.7 0-44.64 19.94-44.64 44.65 0 24.7 19.95 44.64 44.65 44.64zm104.18 193.47c69.34 0 128.28-43.46 152.1-104.18h-304.2c23.8 60.72 82.75 104.18 152.1 104.18z"
  ></path>
</symbol>
