---
import Layout from "@layouts/Index.astro";
import siteData from "@data/site.json";
import { getCollection } from "astro:content";
import { string } from "astro/zod";
const posts = await getCollection("products");
const collectionName = "products";

export interface Props {
  collectionName: string;
}
---

<Layout title={siteData.tldr}>
  <h2 class="uppercased">{collectionName}</h2>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/products/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>

<style></style>
