/* GREEN LIGHT SCHEME (Glassy) */

:root {
  --hsl_opacity_key: 1; //0>1
}

/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: hsla(92, 100%, 15%, var(--hsl_opacity_key));
  --primary-hover: hsla(92, 100%, 25%, var(--hsl_opacity_key)); // #388e3c;
  --primary-focus: rgba(67, 160, 71, 0.125);
  --primary-inverse: #fff;
  --background-color: hsla(92, 100%, 90%, var(--hsl_opacity_key));
  --color: black;
}

/* GREEN DARK SCHEME (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --primary: hsla(92, 100%, 50%, var(--hsl_opacity_key));
    --primary-hover: hsla(92, 100%, 40%, var(--hsl_opacity_key)); // #4caf50;
    --primary-focus: rgba(67, 160, 71, 0.25);
    --primary-inverse: #fff;
    --background-color: hsla(170, 100%, 6%, var(--hsl_opacity_key));
    --color: #fff;
  }
}

/* GREEN DARK SCHEME (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
  --primary: hsla(92, 100%, 50%, var(--hsl_opacity_key));
  --primary-hover: hsla(92, 100%, 40%, var(--hsl_opacity_key)); // #4caf50;
  --primary-focus: rgba(67, 160, 71, 0.25);
  --primary-inverse: #fff;
  --background-color: hsla(170, 100%, 6%, 1);
  --color: black;
}

/* GREEN (COMMON STYLES) */
:root {
  --bodyfontweight: 300;
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);

  --hearth_color: hsla(36, 88%, 12%, var(--hsl_opacity_key));

  --up_shift: -3rem;
  --space: 2rem;
  --space_small: 1rem;
  --space_horizontal: 0.5rem;

  --radius: 5px;
  --icon_size: 40px; //all svg icons are square

  //colours
  --grey: hsl(0, 0%, 33%);
  --grey--light: hsl(0, 0%, 75%);
  --transparent_grey: hsla(0, 0%, 0%, 0.55);

  //colours for sections
  --color_services: hsla(40, 80%, 75%, var(--hsl_opacity_key)); //01 rgba(242,208,140,1)
  --color_products: hsla(60, 80%, 65%, var(--hsl_opacity_key)); //02 rgba(237,237,94,1)
  --color_techniques: hsla(90, 80%, 75%, var(--hsl_opacity_key)); //03 rgba(191,242,140,1)
  --color_solutions: hsla(110, 80%, 70%, var(--hsl_opacity_key)); //04 rgba(138,240,117,1)
  --color_know: hsla(110, 60%, 50%, var(--hsl_opacity_key)); //05 rgba(77,204,51,1)
  --color_health: hsla(200, 80%, 70%, var(--hsl_opacity_key)); //06 rgba(117,199,240,1)
  --color_resources: hsla(200, 80%, 30%, var(--hsl_opacity_key)); //07 rgba(15,97,138,1)

  //shadows
  --transition_shadow: box-shadow 0.2s ease;
  --top_shadow: 0 -2px var(--radius) 0 rgba(0, 0, 0, 0.12), 0 -var(--radius) 10px 0 rgba(0, 0, 0, 0.24);
  --bottom_shadow: 0 var(--radius) 10px 0 rgba(0, 0, 0, 0.24);
  --card_shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.12), 2px 2px 3px 0 rgba(0, 0, 0, 0.24);
  --card_shadow--hover: var(--radius) var(--radius) 8px 0 rgba(0, 0, 0, 0.12), 8px 8px 8px 0 rgba(0, 0, 0, 0.24);

  //typography

  // --base_font_size--tiny: 17px;
  // --base_font-size--min: 18px;
  // --base_font_size--bp1: 19px;
  // --base_font_size--max: 20px;

  // --base_line_height: 1.4446;

  // --base_font_weight: 400;
  // --semibold_font_weight: 600;

  // --heading1: 1.7rem;
  // --heading2: 1.7rem/10 * 8;
  // --heading3: 1.7rem/10 * 7;
  // --heading4: 1.7rem/10 * 6.5;
  // --heading5: 1.7rem/10 * 5.5;

  --top_band: 50px;
}

// MAGICGREEN OVERRIDES

$top_band_opacity: 1 !default;

body {
  padding-top: var(--top_band);
  margin: 0;
  content-visibility: auto;
  font-weight: var(--bodyfontweight);

  > *,
  article {
    box-shadow: none !important;
  }

  .services,
  .know,
  .health,
  .products,
  .solutions,
  .techniques {
    padding-top: var(--top_band);
  }

  .services::before,
  .services .hero::before {
    content: '';
    width: 100%;
    height: var(--top_band);
    position: absolute;
    top: 0;
    left: 0;
    opacity: $top_band_opacity;
    background-color: var(--color_services);
  }
  .know::before {
    content: '';
    width: 100%;
    height: var(--top_band);
    position: absolute;
    top: 0;
    left: 0;
    opacity: $top_band_opacity;
    background-color: var(--color_know);
  }
  .health::before {
    content: '';
    width: 100%;
    height: var(--top_band);
    position: absolute;
    top: 0;
    left: 0;
    opacity: $top_band_opacity;
    background-color: var(--color_health);
  }
  .products::before {
    content: '';
    width: 100%;
    height: var(--top_band);
    position: absolute;
    top: 0;
    left: 0;
    opacity: $top_band_opacity;
    background-color: var(--color_products);
  }
  .solutions::before {
    content: '';
    width: 100%;
    height: var(--top_band);
    position: absolute;
    top: 0;
    left: 0;
    opacity: $top_band_opacity;
    background-color: var(--color_solutions);
  }
  .techniques::before {
    content: '';
    width: 100%;
    height: var(--top_band);
    position: absolute;
    top: 0;
    left: 0;
    opacity: $top_band_opacity;
    background-color: var(--color_techniques);
  }
}

ul li {
  list-style-type: none !important; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.sarung {
  margin: 0 3%;
  min-width: 94%;
  width: 94%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.centerflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
  &.show {
    display: inherit;
  }
}

.outline_color {
  fill: black;
}

.fill_color {
  fill: var(--primary);
  &:hover {
    fill: var(--primary-hover);
  }
}

.show_on_phones {
  @media (min-width: 576px) {
    display: none !important;
  }
}

.break_on_phones {
  @media (max-width: 576px) {
    display: block !important;
  }
  span {
    @media (max-width: 576px) {
      display: none !important;
    }
  }
}

// TYPOGRAPHY
blockquote p {
  font-size: initial; /* Fallback value */
  font-size: clamp(2.15rem, 2.75vw, 11vw) !important;
  font-weight: 200;
  line-height: 0.9 !important;
  padding-left: 1rem;
}

.centered {
  text-align: center;
}

.compacted {
  line-height: 0.75;
  line-height: 1ch;
  user-select: none;
}

.noselect {
  user-select: none;
}

.ptop,
.padding_top,
.top_padded,
.top_pad,
.toppad,
.pad_top,
.padtop {
  padding-top: var(--space);
}

.pbot,
.padding_bottom,
.bottom_padded,
.bottom_pad,
.botpad,
.bottompad,
.pad_bot,
.padbot {
  padding-bottom: var(--space);
}

.spaced {
  font-size: 3rem;
  font-weight: 100;
  line-height: 0.35;
  margin: 1rem !important;
  & > * {
    padding: 0.5rem !important;
    line-height: 0.5;
  }
}

.is_relative {
  position: relative !important;
}

.uppercased,
.uppercase,
.upc {
  text-transform: uppercase !important;
}

// ROTATIONS
.horizontal,
.horizo,
.hor {
  transform: rotate(0deg);
  transform-origin: center center;
  color: red !important;
  line-height: 6;
}

//FIX PICO.SLIM
article,
main,
footer {
  width: 100vw !important;
  background-color: unset;
}

.r5deg {
  transform: rotateZ(2deg);
}
.r-5deg {
  transform: rotateZ(-2deg);
}

.r1deg {
  transform: rotateZ(1deg);
}
.r-1deg {
  transform: rotateZ(-1deg);
}

.anim8 {
  animation: infinite;
  animation-name: gentleSwing;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
    skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

//ARTICLE
.post_content {
  h2 {
    transform: rotateZ(4deg) !important;
  }
  h3 {
    transform: rotateZ(-2deg) !important;
  }
  h4 {
    transform: rotateZ(2deg) !important;
  }
  h5 {
    transform: rotateZ(-3deg) !important;
  }
  h6 {
    transform: rotateZ(3deg) !important;
  }
  p,
  ul {
    font-size: 135%;
    max-width: 650px;
    margin: 0 0 0 auto;
    padding-bottom: var(--space_small);
    font-weight: 200;
  }
  ul li {
    list-style-type: initial !important;
  }
}

main .index a {
  display: block;
  min-height: 48px;
}
.caption {
  text-transform: uppercase;
  font-size: 70% !important;
}
.hero .caption {
  display: none;
}
