/* GREEN LIGHT SCHEME (Glassy) */

:root {
  --hsl_opacity_key: 1; //0>1
}

//https://oklch.com/

/* LIGHT */
/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: hsla(92, 100%, 15%, 1); // oklch(37.36% 0.109 135.207);
  --primary-hover: hsla(92,  100%,25%,1); // oklch(53.22% 0.16 136.15)  #388e3c;
  --primary-focus: rgba(67, 160, 71, 0.125);
  --primary-inverse: black;
  --background-color: hsla(92, 100%, 90%, 1); // hsla(92, 100%, 90%,1)
  --color: #fff;
}

/* DARK (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --primary: hsla(92, 100%, 50%, 1); // oklch(88% 0.268 137); NOT YET OK!
    --primary-hover: hsla(92, 100%, 40%, 1); // hsla(92, 100%, 40%, 1)  #4caf50;
    --primary-focus: rgba(67, 160, 71, 0.25);
    --primary-inverse: #fff;
    --background-color: hsla(170, 100%, 6%, 1); // hsla(170, 100%, 6%,1)
    --color: black;
  }
}

/* DARK (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
  --primary: hsla(92, 100%, 50%, 1); //oklch(88% 0.268 137);
  --primary-hover: hsla(92, 100%, 40%, 1); // hsla(92, 100%, 40%,1)  #4caf50;
  --primary-focus: rgba(67, 160, 71, 0.25);
  --primary-inverse: #fff;
  --background-color: hsla(170, 100%, 6%, 1);
  --color: black;
}

/* (COMMON STYLES) REFERENCED */
:root {
  --blockquote-border-color: var(--primary) !important;
  --bodyfontweight: 300;
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --hearth_color: hsla(36, 88%, 12%, 1);

  --up_shift: -3rem;
  --space: 2rem;
  --space_small: 1rem;

  --radius: 5px;
  --icon_size: 40px; //all svg icons are square

  //colours
  --grey: hsl(0, 0%, 33%);
  --grey--light: hsl(0, 0%, 75%);
  --transparent_grey: hsla(0, 0%, 0%, 0.55);

  //colours for sections
  --color_services: hsla(40, 80%, 75%, 1); //01 rgba(242,208,140,1)
  --color_products: hsla(60, 80%, 65%, 1); //02 rgba(237,237,94,1)
  --color_techniques: hsla(90, 80%, 75%, 1); //03 rgba(191,242,140,1)
  --color_solutions: hsla(110, 80%, 70%, 1); //04 rgba(138,240,117,1)
  --color_know: hsla(110, 60%, 50%, 1); //05 rgba(77,204,51,1)
  --color_health: hsla(200, 80%, 70%, 1); //06 rgba(117,199,240,1)
  --color_resources: hsla(200, 80%, 30%, 1); //07 rgba(15,97,138,1)

  //shadows
  --transition_shadow: box-shadow 0.2s ease;
  --top_shadow: 0 -2px var(--radius) 0 rgba(0, 0, 0, 0.12),
    0 -var(--radius) 10px 0 rgba(0, 0, 0, 0.24);
  --bottom_shadow: 0 var(--radius) 10px 0 rgba(0, 0, 0, 0.24);
  --card_shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.12),
    2px 2px 3px 0 rgba(0, 0, 0, 0.24);
  --card_shadow--hover: var(--radius) var(--radius) 8px 0 rgba(0, 0, 0, 0.12),
    8px 8px 8px 0 rgba(0, 0, 0, 0.24);

  --top_band: 1vh;
  --top_band_opacity: 1;


  --font-size: 20px;

  // Responsive typography
  @if $enable-responsive-typography {
    @if map-get($breakpoints, "sm") {
      @media (min-width: map-get($breakpoints, "sm")) {
        --font-size: 21px;
      }
    }

    @if map-get($breakpoints, "md") {
      @media (min-width: map-get($breakpoints, "md")) {
        --font-size: 23px;
      }
    }

    @if map-get($breakpoints, "lg") {
      @media (min-width: map-get($breakpoints, "lg")) {
        --font-size: 25px;
      }
    }

    @if map-get($breakpoints, "xl") {
      @media (min-width: map-get($breakpoints, "xl")) {
        --font-size: 27px;
      }
    }
  }
}

// MAGICGREEN OVERRIDES

body {
  overflow-x: hidden;
  padding-top: var(--top_band);
  margin: 0;
  content-visibility: auto;
  font-weight: var(--bodyfontweight);

  > *,
  article {
    box-shadow: none !important;
  }

  address,
  blockquote,
  dl,
  figure,
  form,
  ol,
  p,
  pre,
  table,
  ul {
    color: var(--primary-inverse);
  }

  .services,
  .know,
  .health,
  .products,
  .solutions,
  .techniques {
    padding-top: var(--top_band);
  }

  .green {
    color: var(--primary) !important;
  }
}


ul {
  li {
    // list-style-type: none !important; /* Remove bullets */
    padding: 0;

    margin: 0 0 0 4px;
    width: fit-content;
  }
}
.sarung {
  margin: 0 3%;
  min-width: 94%;
  width: 94%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.centerflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
  &.show {
    display: inherit;
  }
}

.outline_color {
  fill: black;
}

.fill_color {
  fill: var(--primary);
  &:hover {
    fill: var(--primary-hover);
  }
}

.show_on_phones {
  @media (min-width: 576px) {
    display: none !important;
  }
}

.break_on_phones {
  @media (max-width: 576px) {
    display: block !important;
  }
  span {
    @media (max-width: 576px) {
      display: none !important;
    }
  }
}

.container_slim {
  width: 80vdw;
}

// TYPOGRAPHY
blockquote {
  em {
    display: block;
    padding-top: 1rem;
    text-transform: uppercase;
    font-style: normal;
    font-size: 50%;
    line-height: 1;
    letter-spacing: 2px;
  }
  p {
    font-size: initial; /* Fallback value */
    font-size: clamp(2.15rem, 2.75vw, 11vw) !important;
    font-weight: 200;
    line-height: 0.9 !important;
    padding-left: 1rem;
  }
}

.centered {
  text-align: center;
}

.compacted {
  line-height: 0.75;
  line-height: 1ch;
  user-select: none;
}

.noselect {
  user-select: none;
}

.ptop,
.padding_top,
.top_padded,
.top_pad,
.toppad,
.pad_top,
.padtop {
  padding-top: var(--space);
}

.pbot,
.padding_bottom,
.bottom_padded,
.bottom_pad,
.botpad,
.bottompad,
.pad_bot,
.padbot {
  padding-bottom: var(--space);
}

.spaced {
  font-size: 3rem;
  font-weight: 100;
  line-height: 0.35;
  margin: 1rem !important;
  & > * {
    padding: 0.5rem !important;
    line-height: 0.5;
  }
}

.is_relative {
  position: relative !important;
}

.uppercased,
.uppercase,
.upc {
  text-transform: uppercase !important;
}

// ROTATIONS
.horizontal,
.horizo,
.hor {
  transform: rotate(0deg);
  transform-origin: center center;
  color: red !important;
  line-height: 6;
}

//FIX PICO.SLIM
article,
main,
footer {
  width: 100vw !important;
  background-color: unset;
}

.r5deg {
  transform: rotateZ(2deg);
}
.r-5deg {
  transform: rotateZ(-2deg);
}

.r1deg {
  transform: rotateZ(1deg);
}
.r-1deg {
  transform: rotateZ(-1deg);
}

.r2deg {
  transform: rotateZ(2deg);
}
.r-2deg {
  transform: rotateZ(-2deg);
}

.r20deg {
  transform: rotateZ(20deg);
}
.r-20deg {
  transform: rotateZ(-20deg);
}

.r66deg {
  transform: rotateZ(66deg);
}
.r-66deg {
  transform: rotateZ(-66deg);
}

.anim8 {
  animation: infinite;
  animation-name: gentleSwing;
}

blockquote p {
  max-width: none !important;
}

main .index a {
  display: block;
  min-height: 48px;
}
.caption {
  text-transform: uppercase;
  font-size: 70% !important;
}
.hero .caption {
  display: none;
}

// .open_in_new_window {
//   text-transform: capitalize !important;
// }

.ad_symbol:after {
  content: 'Ad';
  margin-left: 7px;
  margin-right: 0;
  border-radius: 4px;
  color: var(--primary-inverse);
  display: inline-block;
  font-size: 13px;
  font-weight: 100 !important;
  border: 1px solid var(--color);
  padding: 3px;
  line-height: 13px;
  vertical-align: middle;
  white-space: nowrap;
}

// LOGIC FOR HIDING NULL FIELDS IN RESOURCE PAGE
// somehow if i put this in the resources.astro it DOES NOT work!
[href*='null'],
a:not([href]) {
  display: none !important;
}

// .know-more-links {
//   border-bottom: var(--top_band) solid var(--primary) !important;
//   border-radius: var(--radius);
// }
.tldr {
  padding-top: calc(var(--spacing) * 4);
  padding-bottom: calc(var(--spacing) * 2);
  opacity: 0.75;
  > *,
  h2 {
    transform: rotate(-3deg) !important;
  }
}

.small_side_pad {
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.article header svg {
  transform: scale(1.2, 1.7);
  position: relative;
  top: -1px;

  @media (min-width: 576px) {
    transform: scale(1.2, 1.45);
    position: relative;
    top: -11px;
  }
}
