---
import { CollectionEntry, getCollection } from "astro:content";
import Article from "@layouts/Article.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const solutionsArticles = await getCollection("solutions", ({ data }) => {
    return !data.draft && data.pubDate < new Date();
  });
  return solutionsArticles.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
interface Props {
  post: CollectionEntry<"solutions">;
}

// 2. When it's time to render, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await post.render();

//add bottom listing of THIS category

const articles = await getCollection("solutions", ({ data }) => {
  return !data.draft && data.pubDate < new Date();
});
---

<Article cssBodyClass="solutions" {...post.data}>
  <Content />
  <details class="solutions" open>
    <summary class="h3 uppercase">+ solutions</summary>
    <div class="">
      {
        articles.map((post) => (
          <div class="uppercase">
            <a href={`/solutions/${post.slug}`}>{post.data.title}</a>
          </div>
        ))
      }
    </div>
  </details>
</Article>

<style lang="scss">
  details {
    margin: 3rem;
    padding: 3rem;
    border-radius: 3vw;
    border: 10px solid hsla(0, 0%, 100%, 0.033);
    background-color: hsla(0, 0%, 100%, 0.025);
  }
</style>
