---
import Layout from "@layouts/Index.astro";
import siteData from "@data/site.json";
import { getCollection } from "astro:content";
const posts = await getCollection("solutions");
const collectionName = "solutions";

export interface Props {
  collectionName: string;
}
---

<Layout title={siteData.tldr}>
  <h2 class="uppercased">{collectionName.toUpperCase()}</h2>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/solutions/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>

<style></style>
