---
import Layout from "@layouts/Body.astro";
export interface Props {
  bodyClass: string;
}
---

<Layout bodyClass="index">
  <div class="container index">
    <slot />
    <div class="post_page_title r5deg">
      <h1 class="centered compacted minimal_padding speech_bubble">
        Sustainable, environment friendly examples present future.
      </h1>
    </div>
  </div>
</Layout>
<style lang="scss">
  .post_page_title {
    padding-top: var(--space);
    .compacted {
      user-select: none;
    }
  }
  h1 {
    font-size: calc(8.88vw + 8.88vh) !important;
  }
</style>
