---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Slogan from "@components/Slogan.astro";

export interface Props {
  description: string;
  title: string;
  category?: string | undefined;
  pubDate?: any | undefined;
  cssBodyClass: string;
}

const { category, description, title, cssBodyClass } = Astro.props;

---

<Layout
  title={title}
  description={description}
  category={category}
  cssBodyClass={cssBodyClass}
>
  <Nav cssClass="nav" />

  <main>
    <div class="container index">
      <slot />
      <Slogan />
    </div>
  </main>
</Layout>

<style lang="scss">
  h1,
  .h1 {
    font-size: calc(6vw + 6vh) !important;
  }
  .container.index {
    padding-top: var(--space);
  }
</style>
