---
import Nav from "@components/Nav.astro";
import Layout from "@layouts/Layout.astro";
export interface Props {
  description: string;
  title: string;
  category: string;
  pubDate?: any;
}

const { category, description, title } = Astro.props;

const cssBodyClass = "index";
---

<Layout
  title={title}
  description={description}
  category={category}
  cssBodyClass={cssBodyClass}
>
  <Nav cssClass="nav" />

  <main>
    <div class="container index">
      <slot />

      <div class="slogan r5deg">
        <h1 class="centered compacted minimal_padding speech_bubble">
          Sustainable, environment friendly examples present future.
        </h1>
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  .slogan {
    padding-top: var(--space);
    .compacted {
      user-select: none;
    }
  }
  h1,
  .h1 {
    font-size: calc(6vw + 6vh) !important;
  }
  .container.index {
    padding-top: var(--space);
  }
</style>
