---
import Layout from "@layouts/Body.astro";
---

<Layout>
  <div class="container index">
    <div class="post_page_title">
      <h1 class="centered compacted minimal_padding speech_bubble">
        Sustainable, environment friendly examples present future.
      </h1>
    </div>
    <slot />
  </div>
</Layout>
