---
import Layout from "@layouts/Layout.astro";
export interface Props {
  cssClass: string;
}
---

<Layout cssClass="index">
  <div class="container index">
    <slot />
    <div class="post_page_title r5deg">
      <h1 class="centered compacted minimal_padding speech_bubble">
        Sustainable, environment friendly examples present future.
      </h1>
    </div>
  </div>
</Layout>
<style lang="scss">
  .post_page_title {
    padding-top: var(--space);
    .compacted {
      user-select: none;
    }
  }
  h1 {
    font-size: calc(6vw + 6vh) !important;
  }

  .container.index {
    padding-top: var(--space);
  }
</style>
