---
import Nav from "@components/Nav.astro";
import Layout from "@layouts/Layout.astro";
//import Category from "@pages/[category].astro";
//import { Picture } from "@astrojs/image/components";
export interface Props {
  description?: string;
  title: string;
  category?: string;
  photography: string;
  coverImage: URL;
}

const { category, description, title } = Astro.props;
---

<Layout
  title={title}
  description={description}
  category={category}
  cssBodyClass="index"
>
  <Nav cssClass="nav" />

  <main>
    <div class="container index">
      <slot />
      <div class="slogan r5deg">
        <h1 class="centered compacted minimal_padding speech_bubble">
          Sustainable, environment friendly examples present future.
        </h1>
      </div>
    </div>
  </main>
</Layout>
<style lang="scss">
  .slogan {
    padding-top: var(--space);
    .compacted {
      user-select: none;
    }
  }
  h1 {
    font-size: calc(6vw + 6vh) !important;
  }

  .container.index {
    padding-top: var(--space);
  }
</style>
