---
import IconPhotographer from "@svgs/photographer.svg";
import IconClock from "@svgs/clock.svg";
const { frontmatter } = Astro.props;
---

<div class="h5 post_metas">
  <div class="post_meta_block">
    <div class="post_meta_icon">
      <IconPhotographer />
    </div>

    <div class="post_meta_text nowrap" title="photography by">
      {frontmatter.photography}
    </div>
  </div>

  <div class="post_meta_block">
    <div class="post_meta_icon">
      <IconClock />
    </div>

    <div class="post_meta_text nowrap">
      {frontmatter.date}
    </div>
  </div>
</div>
